* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
1C1D22 
313B44 
E62815 
AAA8AD
*/

body {
    background-color: #1C1D22; /* Azul escuro moderno */
    color: #AAA8AD;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

header {
    margin-bottom: 32px;
}

.profile-pic {
    width: 96px;
    height: 96px;
    background-image: url('https://github.com/andrelfsh.png'); /* Puxa sua foto do GitHub automaticamente */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #E62815; /* Adicionei uma borda para destacar */
    margin: 0 auto 16px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 8px;
}

p {
    font-size: 0.9rem;
    color: #AAA8AD;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.link {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #AAA8AD;
    background-color: #1C1D22;
    border: 1px solid #313B44;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.link:hover {
    background-color: #1C1D22;
    transform: translateY(-2px);
    border-color: #E62815;
}